html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mySwiper {
  margin-top: 12rem;
  /* height: 100vh !important; */
  width: 100%;
  background-color: transparent !important;
  position: absolute !important;
}

.slides {
  box-shadow: #fff 0px 4px 2px, #fff 0px 8px 4px, #fff 0px 8px 9px;
  padding: 2rem;
  min-height: 65vh !important;
  width: 60% !important;
  transition: transform 0.5s ease;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 5rem;
  background-color: white;
  color: black;
  text-align: center;
}

.slides:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;

  /* height: 65vh; */
  height: 100%;
  justify-content: center;
  align-items: center;
}
.steptitle{
  font-family: "Graphik";
  font-size: 25pt;
  color:black;
  text-align: left;
  /* height: 20vh; */
}
.heading {
  font-size: 35pt;
  /* margin: -10px; */
  font-weight: 500;
  color: black;
  padding-bottom: 1rem;
  text-align: left;
}

@media only screen and (max-width:825px) {
  .heading {
    font-size: 27pt;
  }
}
@media only screen and (max-width:637px) {
  .slides {
    width: 80% !important;
  }
}
/* .title {
  height: '100%';
  color: black;
  font-size: 50pt;
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
  -webkit-transform-origin: 0 50%;
  font-weight: 600;
  border: 1px solid red;
 
}

.title::after {
  content: "";
  display: inline-block;
  height: 35vh;
  vertical-align: bottom;
  width: 70px;

  border-top: 6px solid black;
} */
.right-head {
  font-size: 40pt;
  /* margin: -10px; */
  font-weight: 500;
  color: black;
  padding-bottom: 1rem;
  text-align: left;
}


.right-list {
  font-size: 14pt;
  font-weight: bold;
  padding: 0.25rem;
  text-align: left;
}



.tot {
  font-family: 'Graphik';
  font-size: 20pt;
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
  /* padding-top: 25vh; */
  /* border: 1px solid red; */
  /* margin-right: 2rem; */
/* padding-bottom: 20rem; */
  width: 15vw;
  display: block;
  /* margin-block-start: 80%; */
  /* margin-inline-start: -15vh; */
  /* margin-block-end: -25vh; */
  font-weight: 100;


}

.mani {
  height: 60%;
  width: 60%;
align-items: center;
}

@media screen and (max-width: 1500px) {
  .mani {
  
    height: 75%;
    width: 75%;
  }

  .tot {
    margin-inline-start: -15vh;
 

  }

  .right-head {
    font-size: 35pt;
    padding-top: 2rem;
  }

  .box1 {
    padding-top: 3rem;
  }
}




@media screen and (max-width: 1880px) {
  .tot {

    margin-block-start: 80%;

  }

  .box1 {
    padding-right: 3rem;
  }

  /* .slides {
    min-height: 10vh !important
  } */

  .flex-container {
    min-height: 10vh !important
  }

  .right-head {}
}
@media screen and (max-width: 1187px) {
  .mani {

    height: 75%;
    width: 85%;
  }
  .box1 {
 
  
  }

  .tot {
  
    font-size: 45pt;

  }
  .right-head{
    font-size: 30pt;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 1068px) {
  .tot {

    font-size: 40pt;

  }
}
@media screen and (max-width: 1026px) {
/*   
  .slides {
    height: 60vh !important;

  } */
  .flex-container{
  
    height: 55vh !important;
    /* width: 100% !important; */
  }
  .mani {

    height: 85%;
    width: 95%;
  }
}
@media screen and (max-width: 1026px) {

  .tot{
    font-size: 35pt;
  }
}
@media screen and (max-width: 849px) {
  /* .slides{
    width: 70% !important;
    height: 55vh !important;
  } */
  .tot{
    font-size: 31pt;
  }
}
@media screen and (max-width: 744px) {
 
  .tot{
    font-size: 25pt;
  }
  .right-head{
    font-size: 25pt;
    padding-top: 3rem;
  }
  .right-list{
    font-size: 12pt;
  }
}

.mobstep{
  font-size: 50pt;
  font-weight: 400;
  text-align: left;
  font-family: 'Graphik';


}
.mobtext{
  font-size: 15pt;
  text-align: left;
}
.mobhead{
  font-size: 35pt;
  text-align: left;
}
@media screen and (max-width: 458px) {
  .mobstep{
    font-size: 40pt;
    font-weight: 400;
    text-align: left;
    font-family: 'Graphik';
  }
  
  .mobhead{
    font-size: 30pt;
  }
}
.mobstep:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 60px;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 3px solid black;
  font-weight: none;
  /*  */
}
.tot:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100px;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 3px solid black;
  font-weight: none;
  /*  */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Black-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/graphik/GraphikMedium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GraphikItalic";
  src: url("../fonts/graphik/GraphikMediumItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

body,
html {
  margin: 0;
}

.scroller {
  height: 100vh;
}

.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #070707;
}

.blue {
  height: 100vh;
  background-color: #00026d;
}

.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 100%;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  background-color: #070707;

  transform: translateY(100%);
  opacity: 0;
}

.panel-text.blue-text {
  color: red;
  border: 1px solid white;
}

.panel-text.red-text {
  color: red;
}

.panel-text.purple-text {
  color: purple;
}

.panel-text.orange-text {
  color: orange;
}

.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg"); */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel._2 {
  z-index: 1;
  /* background-image: url("../images/5f5a5b3515c4dd0c2c455925_110642301_938622823267359_7859124022958180678_n201.jpg"); */
}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: red;
  background-image: none;
}

.panel.orange {
  z-index: auto;
  background-color: #cf5d00;
  background-image: none;
}

.panel.purple {
  z-index: auto;
  background-color: #808;
  background-image: none;
}

.helper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px;
  height: 100vh;
  background-color: orange;
}

.containerw {
  overflow: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  position: relative;
width: 100%;
  height: 800vh;




  /* background-color: blue; */
  /* background-image: url(../public/static/bs1.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh; */
}

.text1 {
  overflow-x: hidden;
  overflow-y: hidden;
  /* border: 1px solid red; */
  color: white;
  font-size: 12vh;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: "center";
  height: "100vh";



}

@media only screen and (max-width:1819px) {
  .text1 {
    font-size: 12vh;
  }
}

@media only screen and (max-width:1360px) {
  .text1 {
    font-size: 10vh;
  }
}

@media only screen and (max-width:1100px) {
  .text1 {
    font-size: 8vh;
  }
}

@media only screen and (max-width:479px) {
  .text1 {
    display: none;
  }
}



.slides4 {
  height: 60vh !important;
  width: 40% !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center;
  /* Animation */
}

.slides5 {
  height: 65vh !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center;
  /* Animation */
}

.imgw {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50vh;
  background-color: #00026d !important;
}





#slide4 {
  height: fit-content !important;
  overflow: visible;
}

#slide5 {
  height: fit-content !important;
  overflow: visible;
}

#slide7 {
  height: fit-content !important;
  overflow: visible;
}

/* mobile view */
@media screen and (max-width: 767px) {
  scrollbar {
    display: none;
  }

  /* .containerw {

    height: 630vh;
border: 1px solid green;
    margin: 0px -2rem !important;
  } */


  .text1 {
    font-size: 6vw;
  }

  #slide4 {
    height: fit-content !important;
    overflow: visible;
  }

  #slide5 {
    height: fit-content !important;
    overflow: visible;
  }

  #slide7 {
    height: fit-content !important;
    overflow: visible;
  }

  .title-div {
    height: 20% !important;
    padding-top: 10px !important;
  }


}

@media screen and (min-width: 760px) and (max-width: 1023px) {

  .text1 {
    font-size: 3rem;
  }

  #slide4 {
    height: fit-content !important;
    overflow: visible;
  }

  #slide5 {
    height: fit-content !important;
    overflow: visible;
  }

  #slide7 {
    height: fit-content !important;
    overflow: visible;
  }

  .title-div {
    height: 20% !important;
    padding-top: 10px !important;
    padding-left: -50%;
  }


}

@media screen and (max-width: 1029px) {
  .pImage {
    width: 325px;
    height: 420px;
  }
}

@media screen and (max-width: 748px) {
  .pImage {
    width: 225px;
    height: 320px;
  }
}

@media screen and (max-width: 505px) {
  .pImage {
    width: 145px;
    height: 220px;
  }
}

/* Scrolling */

.sticky {
  margin-bottom: 10rem;
  width: 100%;
  position: sticky;
}

.shadowhide {
  display: none;
}

.shadow {
  position: fixed;
  /* -webkit-animation: moving 1s both;
  animation: moving 1s both; */
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes moving {
  from {
    top: 0px;
  }

  to {
    left: 50%;
    top: 50%;
  }
}

@keyframes moving {
  from {
    top: 0px;
  }

  to {
    left: 50%;
    top: 50%;
  }
}