html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Black-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/graphik/GraphikMedium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GraphikItalic";
  src: url("../fonts/graphik/GraphikMediumItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
body,
html {
  margin: 0;
}
.scroller {
  height: 100vh;
}

.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #070707;
}

.blue {
  height: 100vh;
  background-color: #00026d;
}

.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 100%;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  background-color: #070707;

  transform: translateY(100%);
  opacity: 0;
}

.panel-text.blue-text {
  color: red;
  border: 1px solid white;
}

.panel-text.red-text {
  color: red;
}

.panel-text.purple-text {
  color: purple;
}

.panel-text.orange-text {
  color: orange;
}

.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg"); */
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel._2 {
  z-index: 1;
  /* background-image: url("../images/5f5a5b3515c4dd0c2c455925_110642301_938622823267359_7859124022958180678_n201.jpg"); */
}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: red;
  background-image: none;
}

.panel.orange {
  z-index: auto;
  background-color: #cf5d00;
  background-image: none;
}

.panel.purple {
  z-index: auto;
  background-color: #808;
  background-image: none;
}

.helper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px;
  height: 100vh;
  background-color: orange;
}

.containerw {
  overflow: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: center;
  position: relative;

  height: 600vh;




  /* background-color: blue; */
  /* background-image: url(../public/static/bs1.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh; */
}
.text1 {
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  font-size: 5.5rem;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: "center";
  height: "100vh";
 


}
@media only screen and (max-width:479px) {
  .text1 {
   display: none;
  }
}
.mySwiper {
  margin-top: 12rem;
  height: 100vh !important;
  width: 100%;
  background-color: transparent !important;
  position: absolute !important;
}

.slides {
  /* height: 55vh !important; */
  box-shadow: #fff 0px 4px 2px, #fff 0px 8px 4px, #fff 0px 8px 9px;

  padding: 2rem;
  min-height: 70vh !important;
  width: 50% !important;
  transition: transform 0.5s ease;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 5rem;
  background-color: white;
  color: black;
  text-align: center; /* Animation */
}
.slides:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slides4 {
  height: 60vh !important;
  width: 40% !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center; /* Animation */
}
.slides5 {
  height: 70vh !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 8rem;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center; /* Animation */
}

.imgw {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50vh;
  background-color: #00026d !important;
}
.flex-container {
  display: flex;
  flex-direction: row;
  border: 0px solid red;
  min-height: 100px;
}
.title {
  padding-right: 30px;
  color: black;
  font-size: 40pt;
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
  -webkit-transform-origin: 0 50%;
  font-weight: 600;
}
.title::after {
  content: "";
  display: inline-block;
  height: 0.3em;
  vertical-align: bottom;
  width: 90px;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 6px solid black;
}
.right-head {
  font-size: 32pt;
  margin: -10px;
  font-weight: 500;
  color: black;
  padding-bottom: 1rem;
}

.right-list {
  font-size: 14pt;
  font-weight: bold;
  padding: 0.25rem;
}
#slide4 {
  height: fit-content !important;
  overflow: visible;
}
#slide5 {
  height: fit-content !important;
  overflow: visible;
}
#slide7 {
  height: fit-content !important;
  overflow: visible;
}
/* mobile view */
@media screen and (max-width: 767px) {
  scrollbar {
    display: none;
  }
  .containerw {
 
    height: 630vh;
 
    margin: 0px -2rem !important;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    min-height: 100px;
  }
  .text1 {
    font-size: 1rem;
  }
  .slides {
    /* height: 55vh !important; */
    box-shadow: #fff 0px 4px 2px, #fff 0px 8px 4px, #fff 0px 8px 9px;
    height: fit-content !important;
    overflow: visible;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 8rem;
    margin-bottom: 3rem;
    background-color: white;
    color: black;
    text-align: center; /* Animation */
    padding-bottom: 10px;
  }
  #slide4 {
    height: fit-content !important;
    overflow: visible;
  }
  #slide5 {
    height: fit-content !important;
    overflow: visible;
  }
  #slide7 {
    height: fit-content !important;
    overflow: visible;
  }
  .title {
    text-transform: uppercase;
    margin-left: -201px;
    margin-top: -50px;
    min-height: 1px;
    color: black;
    font-size: 17pt;
    transform-origin: 0 50%;
    transform: rotate(-360deg) translate(-50%, 50%);
    -webkit-transform-origin: 0 50%;
    font-weight: 800;
  }
  .title::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 40px;
    margin-right: -100%;
    margin-left: 5px;
    border-top: 3px solid black;
  }
  .title-div {
    height: 20% !important;
    padding-top: 10px !important;
  }
  .right-head {
    font-size: 13pt;

    font-weight: 700;
    color: black;
    padding-bottom: 1rem;
  }

  .right-list {
    font-size: 9pt;
    font-weight: bold;
    padding: 0.25rem;
  }
}
@media screen and (min-width: 760px) and (max-width: 1023px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    min-height: 100px;
  }
  .text1 {
    font-size: 3rem;
  }
  .slides {
    /* height: 55vh !important; */
    height: fit-content !important;
    overflow: visible;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 8rem;
    margin-bottom: 4rem;
    background-color: white;
    color: black;
    text-align: center; /* Animation */
    padding-bottom: 10px;
  }
  #slide4 {
    height: fit-content !important;
    overflow: visible;
  }
  #slide5 {
    height: fit-content !important;
    overflow: visible;
  }
  #slide7 {
    height: fit-content !important;
    overflow: visible;
  }
  .title {
    min-height: 1px;
    color: black;
    font-size: 15pt;
    transform-origin: 0 50%;
    transform: rotate(-360deg) translate(-50%, 50%);
    -webkit-transform-origin: 0 50%;
    font-weight: 600;
    padding-top: -60% !important;
    padding-right: 5rem !important;
  }
  .title::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 30px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 6px solid black;
  }
  .title-div {
    height: 20% !important;
    padding-top: 10px !important;
    padding-left: -50%;
  }
  .right-head {
    font-size: 12pt;

    font-weight: 500;
    color: black;
    padding-bottom: 1rem;
  }

  .right-list {
    font-size: 10pt;
    font-weight: bold;
    padding: 0.25rem;
  }
}

@media screen and (max-width: 1029px) {
  .pImage {
    width: 325px;
    height: 420px;
  }
}
@media screen and (max-width: 748px) {
  .pImage {
    width: 225px;
    height: 320px;
  }
}
@media screen and (max-width: 505px) {
  .pImage {
    width: 145px;
    height: 220px;
  }
}

/* Scrolling */

.sticky {
  margin-bottom: 10rem;
  width: 100%;
  position: sticky;
}

.shadowhide {
  display: none;
}

.shadow {
  position: fixed;
  -webkit-animation: moving 1s both;
  animation: moving 1s both;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes moving {
  from {
    top: 0px;
  }
  to {
    left: 50%;
    top: 50%;
  }
}

@keyframes moving {
  from {
    top: 0px;
  }
  to {
    left: 50%;
    top: 50%;
  }
}
